.nav {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 0;
  position: relative;

  @media (max-width: 580px) {
    padding: 3.5rem 5px;
  }

  .links_group {

    a {
      display: inline-flex;
      align-items: center;
      font-size: 1.6rem;
      padding: 9px 22px 9px 30px;
      text-transform: uppercase;
      background-color: rgba(9, 28, 37, .5);
      border-radius: 10rem;
      backdrop-filter: blur(5px);

      img {
        margin-right: 1rem;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }

      @media (max-width: 700px) {
        border-radius: 4px !important;
        margin-right: 0 !important;
        background-color: var(--cl-primary) !important;
      }
    }

    @media (max-width: 700px) {
      display: none;

      flex-direction: column;
      position: absolute;
      top: 100%;
      z-index: 100;
      background-color: rgba(0, 0, 0, .9);
      width: 30rem;
      right: 0;
      gap: 1rem;
      padding: 4rem 1rem;
      border-radius: 4px;
    }
  }

  #toggleNav {
    display: none;
  }

  .burgerBtn {
    display: none;

    span {
      width: 24px;
      height: 2px;
      background-color: #bbb;
      display: block;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    @media (max-width: 700px) {
      display: inline-block;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 3.5rem;
      padding: .25rem 1.15rem;
      color: #bbb;
      border: 1px solid currentColor;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      line-height: 1;
      display: inline-flex;
      align-items: center;
    }
  }
}

@keyframes openNav {
  from {
    opacity: .4;
    right: -30rem;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

@media (max-width: 700px) {
  #toggleNav:checked~.links_group {
    display: flex;
    animation: openNav .15s ease forwards;
  }
}